/* Whit BEM */
/* latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v2/QGYvz_MVcBeNP4NJtEtq.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v2/QGYvz_MVcBeNP4NJtEtq.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v2/QGYvz_MVcBeNP4NJtEtq.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1a2d;
}

main {
  /*display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #0d192b;
}
.card {
  background-color: #15273f;
  max-width: 30rem;
  border-radius: 15px;
}
.card__image {
  /*min-width: 100%;*/
  border-radius: 15px;
  margin: 15px;
  box-sizing: border-box;
}
.card__info {
  padding: 15px;
}
.card__info--name {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: #fcffff;
}
.card__info--descrip {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #8bacd9;
  display: inline-block;
}
.card__info--price {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  color: #00fff8;
}
.card__info--days {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  color: #8bacd9;
}
.card__creator {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  color: #8bacd9;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.card__creator--img {
  max-width: 30px;
}
.card__creator--info {
  color: #8bacd9;
}
.attribution {
  color: #8bacd9;
}
